{% trans_default_domain 'RabbleUserBundle' %}
{{ form_start(form) }}
<div class="row">
    <div class="col-12">
        <div class="row mb-2">
            <div class="col-sm-4 col-md-4 col-lg-3 col-xl-2 mb-2">
                <a href="{{ path('rabble_admin_user_view', {'user': user.id}) }}"
                   class="btn btn-secondary mr-2 btn-block h0"><i
                            class="fa fa-arrow-circle-left"></i> {{ 'back'|trans }}</a>
                <button type="submit" class="btn btn-info btn-block"><i
                            class="fa fa-check"></i> {{ 'form.submit'|trans }}</button>
            </div>
            <div class="col-sm-8 col-md-8 col-lg-9 col-xl-10">
                {% include '@RabbleAdmin/flash_messages.html.twig' %}
            </div>
        </div>
        {{ rabble_admin_ui(container) }}
    </div>
</div>
{{ form_end(form) }}